{% extends 'base.html.twig' %}

{% block title %}Ma liste de produits - {{ parent() }}{% endblock %}

{% block body %}
    <table>
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Prix</th>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        {% if page > 1 %}
        <a href="{{ path('product_list', { page: page - 1 }) }}">Page précédente</a>
        {% endif %}
        {% if page < max_page %}
        <a href="{{ path('product_list', { page: page + 1 }) }}">Page suivante</a>
        {% endif %}
    </div>

    {% if app.debug %}
        <p>Méthode HTTP: {{ app.request.method }}</p>
        <p>Environnement Symfony: {{ app.environment }}</p>
    {% endif %}
{% endblock %}
